server {
    listen 80;
    listen [::]:80;
    server_name petbattle.mapleai.top;

    root /var/www/paw-duel;
    index index.html;

    location /.well-known/acme-challenge/ {
        try_files $uri =404;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
